@{
    ViewData["Title"] = "FAQ Page";
}

<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style="background-image: url(/images/about-us/01.jpg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">FAQ</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Main container -->
<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <div class="iq-accordion iq-accordion-square">

                    <div class="iq-accordion-block iq-active 1">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                What types of movies can I find on the website?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: block;">
                            <p class="iq-content-text"> Our website features a wide range of movies, including action, drama, comedy, horror, and more. We strive to offer a diverse selection of films to appeal to a wide audience. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 2">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                How can I find a specific movie on the website?
                            </h4>
                        </div>

                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> You can use the search bar at the top of the page to search for a specific movie by title or keyword. You can also browse through our various categories to find movies that match your interests. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 3">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Are all of the movies on the website available to stream for free?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> Some of the movies on our website are available to stream for free, while others may require a rental or purchase fee. The availability of each movie is clearly marked on its page. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 4">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                How can I stay up-to-date on the latest movie releases and news?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> We regularly update our website with the latest movie releases and news. You can also sign up for our newsletter to receive updates directly in your inbox. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 5">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                How can I contact the website if I have a question or issue?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> You can use the contact form on our website to reach out to us with any questions or issues you may have. Our customer service team is always happy to help. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 4">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Are there any restrictions on where I can watch the movies on the website?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> Some movies on our website may have geographic restrictions, which means they may not be available to watch in certain regions. The availability of each movie is clearly marked on its page. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 5">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                How do I create an account on the website?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> Creating an account on our website is easy. Simply click on the "Register" button in the top right corner of the homepage and follow the prompts to create your account. Having an account will allow you to create playlists, rate movies, and save your favorite titles for later. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main container end -->