@{
    ViewData["Title"] = "Privacy Policy Page";
}

<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style="background-image: url(/images/about-us/01.jpg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">Privacy Policy</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Main container -->
<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="iq-privacy-policy">
                    <div class="mb-3">
                        <p class="my-3">
                            At Dojo Movie, we take your privacy seriously and are committed to protecting your personal information. This privacy policy explains how we collect, use, and share your personal information when you visit our website or use our services.
                        </p>
                        <br>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">1. Information We Collect</h4>
                        <p class="my-3">
                            We may collect the following types of personal information from you when you visit our website or use our services:
                        </p>
                        <ul>
                            <li>Contact information, such as your name, email address, and phone number</li>
                            <li>Demographic information, such as your age, gender, and interests</li>
                            <li>Information about your use of our website and services, including your browsing history and search queries</li>
                            <li>Any other personal information that you voluntarily provide to us, such as through a form or survey</li>
                        </ul>
                        <p class="my-3">
                            We may also collect technical information about your device, such as your IP address, browser type, and operating system, when you visit our website.
                        </p>
                        <br>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">2. How We Use Your Information</h4>
                        <p class="my-3">
                            We use the personal information that we collect from you for the following purposes:
                        </p>
                        <ul>
                            <li>To provide you with the services and features offered on our website</li>
                            <li>To personalize your experience on our website, such as by recommending movies based on your interests</li>
                            <li>To communicate with you about your account, updates, and other information related to our website and services</li>
                            <li>To analyze and improve the performance of our website and services</li>
                            <li>To comply with legal and regulatory requirements</li>
                        </ul>
                        <p class="my-3">
                            We will not sell or rent your personal information to third parties for their marketing purposes without your consent. We may share your personal information with third parties for other purposes, such as to process transactions or provide services on our behalf, as long as those parties agree to protect the confidentiality of your personal information.
                        </p>
                        <br>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">3. Security and Retention of Your Information</h4>
                        <p class="mb-0">
                            We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no website or internet transmission is completely secure, and we cannot guarantee the security of your personal information.We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no website or internet transmission is completely secure, and we cannot guarantee the security of your personal information.
                        </p>
                        <p class="mb-0">
                            We will retain your personal information for as long as necessary to fulfill the purposes outlined in this privacy policy, unless a longer retention period is required or permitted by law.
                        </p>
                        <br>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">4. Your Rights and Choices</h4>
                        <p class="mb-0">
                            You have the right to access, correct, or request the deletion of your personal information at any time. You may also have the right to object to the processing of your personal information, or to request that we restrict the processing of your personal information in certain circumstances.
                        </p>
                        <p class="mb-0">
                            To exercise these rights, please contact us using the information provided below. We will respond to your request in a reasonable timeframe and may need to verify your identity before granting your request.
                        </p>
                        <p class="mb-0">
                            Please note that if you choose to delete or restrict the use of your personal information, it may impact your ability to use certain features of our website or services.
                        </p>
                        <br>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">5. Updates to This Privacy Policy</h4>
                        <p class="">
                            We may update this privacy policy from time to time to reflect changes in our practices or legal requirements. We will post any updates on this page and encourage you to review the policy periodically.
                        </p><br>

                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">6. Contact Us</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl dignissim, placerat diam ac, egestas ante. Morbi varius quis orci feugiat hendrerit. Morbi ullamcorper consequat justo, in posuere nisi efficitur sed. Vestibulum semper dolor id arcu finibus volutpat. Integer condimentum ex tellus, ac finibus metus sodales in. Proin blandit congue ipsum ac dapibus. Integer blandit eros elit, vel luctus tellus finibus in. Aliquam non urna ut leo vestibulum mattis ac nec dolor. Nulla libero mauris, dapibus non aliquet viverra, elementum eget lorem</p><br>

                    </div>
                    <div class="mb-0">
                        <h4 class="mb-3">5. Data transfer, storage &amp; processing globally</h4>
                        <p class="mb-0">
                            If you have any questions or concerns about this privacy policy or our treatment of your personal information, please contact us by email at support@dojomovie.com or by mail at Jakarta, Indonesia.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!-- Main container end -->