@{
    ViewData["Title"] = "Blog Detail Page";
}

<!-- Header End -->
<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style="background-image: url(/images/about-us/01.jpg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">The Most Anticipated Movies</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Movies</a></li>
                        <li class="breadcrumb-item active">The Most Anticipated Movies</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Main container -->
<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image">
                            <img width="1920" height="1080" src="https://www.themoviedb.org/t/p/original/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg" loading="lazy" alt="">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>admin</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                        <span class="screen-reader-text">Posted on</span>
                                        <a href="#" rel="bookmark">
                                            <time datetime="2019-02-02T12:46:15+00:00">February 2, 2022</time>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p><strong>As movie fans, we all have that one film that we are eagerly waiting for. Whether it's a highly anticipated sequel, a much-loved book adaptation, or a groundbreaking original concept, there are always movies that get us excited to head to the theaters.</strong></p>
                                <p>Here are some of the most anticipated movies of the year:</p>
                                <ol>
                                    <li>Avengers: Endgame - The epic finale to the Marvel Cinematic Universe's Infinity Saga, Endgame brings together all of our favorite superheroes in a showdown against the villainous Thanos. With a star-studded cast, breathtaking action, and a gripping storyline, this film is sure to be a hit with both diehard fans and casual moviegoers.</li>
                                    <li>Star Wars: Episode IX - The Rise of Skywalker - The final installment in the Skywalker saga, this movie promises to bring an epic conclusion to the long-running franchise. With returning cast members and exciting new characters, this film is sure to be a blockbuster hit.</li>
                                    <li>Frozen 2 - The highly anticipated sequel to the beloved animated film Frozen, Frozen 2 brings back Elsa, Anna, and all of their friends for a new adventure in the kingdom of Arendelle. With catchy songs and a heartwarming story, this film is sure to be a hit with both kids and adults.</li>
                                    <li>The Lion King - A live-action adaptation of the classic animated film, The Lion King features an all-star cast and breathtaking visuals that are sure to impress. With a timeless story and beloved characters, this film is sure to be a hit with audiences of all ages.</li>
                                    <li>Jurassic World: Fallen Kingdom - The sequel to the hit film Jurassic World, Fallen Kingdom brings back Chris Pratt and Bryce Dallas Howard for another thrilling adventure on Isla Nublar. With mind-blowing special effects and a gripping storyline, this film is sure to be a hit with fans of the franchise.</li>
                                    <br />
                                    <blockquote class="wp-block-quote">
                                        <p>These are just a few of the most highly anticipated movies of the year. Whatever your tastes, there is sure to be a film on this list that will get you excited to head to the theaters.</p>
                                    </blockquote>
                                    <br>
                                    <li>IT: Chapter Two - The sequel to the horror hit IT, Chapter Two brings back the adult versions of the Losers' Club as they face off against the evil clown Pennywise once again. With a talented cast and a chilling storyline, this film is sure to be a hit with horror fans.</li>
                                    <li>The Irishman - Directed by Martin Scorsese and starring Robert De Niro, Al Pacino, and Joe Pesci, The Irishman is a highly anticipated crime drama about the life of mob hitman Frank Sheeran. With a star-studded cast and a gripping storyline, this film is sure to be a hit with audiences.</li>
                                    <li>Once Upon a Time in Hollywood - Written and directed by Quentin Tarantino, Once Upon a Time in Hollywood tells the story of a struggling actor and his stunt double during the tumultuous year of 1969. With a talented cast and a unique perspective, this film is sure to be a hit with fans of the director's work.</li>
                                    <li>Toy Story 4 - The fourth installment in the beloved animated franchise, Toy Story 4 brings back Woody, Buzz, and all of their friends for a new adventure. With a heartwarming story and lovable characters, this film is sure to be a hit with both kids and adults.</li>
                                    <li>Captain Marvel - The first female-led film in the Marvel Cinematic Universe, Captain Marvel tells the story of Carol Danvers, an astronaut turned superhero. With an exciting storyline and a talented cast, this film is sure to be a hit with both Marvel fans and casual moviegoers.</li>
                                </ol>
                            </div>
                            <div>
                                <div>
                                    <iframe title="Lauren Cohan opens up about her ‘Walking Dead’ salary dispute" width="525" height="295" src="https://www.youtube.com/embed/fb5ELWi-ekk?feature=oembed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <p>These are just a few more examples of the highly anticipated movies that have been eagerly awaited by movie fans. From epic superhero battles to heartwarming animated adventures, there is something for everyone to look forward to on the big screen.</p>
                        </div>
                    </div>
                    <div class="comments-area validate-form">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a Reply <small><a href="#" style="display:none;">Cancel reply</a></small></h3>
                            <form action="#" method="post" class="comment-form" novalidate="">
                                Your email address will not be published. Required fields are marked *<div class="comment-form-comment"><textarea name="comment" aria-required="true" placeholder="Comment"></textarea></div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="comment-form-author">
                                            <input id="author" name="author" aria-required="true" placeholder="Name*">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="comment-form-email">
                                            <input id="email" name="email" placeholder="Email*">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="comment-form-url">
                                            <input id="url" name="url" placeholder="Website">
                                        </div>
                                    </div>
                                </div>
                                <p class="comment-form-cookies-consent">
                                    <input name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                    <label>Save my name, email, and website in this browser for the next time I comment.</label>
                                </p>
                                <p class="form-submit">
                                    <button name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                                        <span class="iq-btn-text-holder">Post Comment</span>
                                    </button>
                                    <input type="hidden" name="comment_post_ID" value="661" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                </p>
                            </form>
                        </div>
                        <div class=" error-msg" aria-hidden="true" style="display: none;">
                        </div>
                    </div>

                </article>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="widget-area">
                    <div id="search-2" class="widget widget_search">
                        <form method="get" class="search-form" action="#" autocomplete="off">
                            <label>
                                <span class="input-group screen-reader-text">Search for:</span>
                            </label>
                            <input type="search" class="search-field search__input" placeholder="Search" value="" name="s">
                            <button type="submit" class="search-submit">
                                <i class="ri-search-line"></i>
                                <span class="screen-reader-text">Search</span>
                            </button>
                        </form>
                    </div>
                    <div class="iq-widget-menu widget">
                        <h5 class="widget-title">Recent Post</h5>
                        <div class="list-inline iq-widget-menu">
                            <ul class="iq-post">
                                <li>
                                    <div class="post-img">
                                        <div class="post-img-holder">
                                            <a href="#" style="background-image: url('images/blog/blog1.jpg');"></a>
                                        </div>
                                        <div class="post-blog">
                                            <div class="blog-box">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item  mr-3">
                                                        <a class="date-widget" href="#"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>February 2, 2019</a>
                                                    </li>
                                                </ul>
                                                <a class="new-link" href="#"><h6>The Most Anticipated Movies</h6></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-img">
                                        <div class="post-img-holder">
                                            <a href="#" style="background-image: url('images/blog/blog2.jpg');"></a>
                                        </div>
                                        <div class="post-blog">
                                            <div class="blog-box">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item  mr-3"><a class="date-widget" href="#"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>February 2, 2019</a></li>
                                                </ul>
                                                <a class="new-link" href="#"><h6>Amy Adams Always Dreamed</h6></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-img">
                                        <div class="post-img-holder">
                                            <a href="#" style="background-image: url(images/blog/blog3.jpg);"></a>
                                        </div>
                                        <div class="post-blog">
                                            <div class="blog-box">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item  mr-3"><a class="date-widget" href="#"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>February 2, 2019</a></li>
                                                </ul>
                                                <a class="new-link" href="#"><h6>WandaVision Will Reveal Scarlet Witch’s Untapped Powers</h6></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="archives-2" class="widget widget_archive">
                        <h5 class="widget-title">Archives</h5>
                        <ul>
                            <li><a href="#">February 2019</a></li>
                            <li><a href="#">January 2019</a></li>
                        </ul>
                    </div>
                    <div id="categories-2" class="widget widget_categories">
                        <h5 class="widget-title">Categories</h5>
                        <ul>
                            <li><a href="#">Dramas</a></li>
                            <li><a href="#">Historical</a></li>
                            <li><a href="#">Movie</a></li>
                            <li><a href="#">Movie Trailers</a></li>
                            <li><a href="#">Trailers</a></li>
                            <li><a href="#">TV Comedies</a></li>
                            <li><a href="#">TV Rumors</a></li>
                            <li><a href="#">TV Series</a></li>
                        </ul>
                    </div>
                    <div id="tag_cloud-2" class="widget widget_tag_cloud">
                        <h5 class="widget-title">Tags</h5><div class="tagcloud">
                            <ul class="wp-tag-cloud">
                                <li><a href="#" class="tag-cloud-link ">Action</a></li>
                                <li><a href="#" class="tag-cloud-link ">Comedies</a></li>
                                <li><a href="#" class="tag-cloud-link ">comedy</a></li>
                                <li><a href="#" class="tag-cloud-link ">Drama</a></li>
                                <li><a href="#" class="tag-cloud-link ">Dramas</a></li>
                                <li><a href="#" class="tag-cloud-link ">Historical</a></li>
                                <li><a href="#" class="tag-cloud-link ">horr</a></li>
                                <li><a href="#" class="tag-cloud-link ">Horror</a></li>
                                <li><a href="#" class="tag-cloud-link ">Movie</a></li>
                                <li><a href="#" class="tag-cloud-link">Movie Trailers</a></li>
                                <li><a href="#" class="tag-cloud-link">Mystery</a></li>
                                <li><a href="#" class="tag-cloud-link">Rumors</a></li>
                                <li><a href="#" class="tag-cloud-link">thrill</a></li>
                                <li><a href="#" class="tag-cloud-link">Thriller</a></li>
                                <li><a href="#" class="tag-cloud-link">Trailers</a></li>
                                <li><a href="#" class="tag-cloud-link ">Tv Rumors</a></li>
                                <li><a href="#" class="tag-cloud-link">TV Series</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="recent-posts-2" class="widget widget_recent_entries">
                        <h5 class="widget-title">Recent Posts</h5>
                        <ul>
                            <li>
                                <a href="#">The Most Anticipated Movies</a>
                            </li>
                            <li>
                                <a href="#">Amy Adams Always Dreamed</a>
                            </li>
                            <li>
                                <a href="#">WandaVision Will Reveal Scarlet Witch’s Untapped Powers</a>
                            </li>
                            <li>
                                <a href="#">Everything You Need to Know About</a>
                            </li>
                            <li>
                                <a href="#">My streaming Black Pearl</a>
                            </li>
                        </ul>
                    </div>
                    <div id="meta-1" class="widget widget_meta">
                        <h5 class="widget-title">Meta</h5>
                        <ul>
                            <li><a href="#">Log in</a></li>
                            <li><a href="#">Entries feed</a></li>
                            <li><a href="#">Comments feed</a></li>
                            <li><a href="#">WordPress.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main container end -->
