@page
@model IndexModel
@{
    ViewData["Title"] = "Movies Page";
}

<div class="main-content">
      <section>
         <div class="verticle-slider">
            <div class="container-fluid">
               <section class="slider">
                  <div class="slider-flex position-relative">
                     <div class="swiper-button-prev verticle-btn"></div>
                     <h4 class="main-title ">Top 10 in Movies</h4>
                     <div class="slider--col position-relative">
                        <div class="slider-prev btn-verticle"><i class="ri-arrow-up-s-line vertical-aerrow"></i></div>
                        <div class="slider-thumbs" data-swiper="slider-thumbs">
                           <div class="swiper-container " data-swiper="slider-thumbs-inner">
                              <div class="swiper-wrapper top-ten-slider-nav">
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative ">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/07.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Shadow Warrior</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1hr : 50mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                                class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">2+</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative ">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/08.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Narnia</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">3hr : 10mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">0</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/09.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">X-Men</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1hr : 45mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">25+</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/10.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Logan</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1hr : 22mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">0</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/11.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Black Queen</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1h 45mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">0</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative ">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/12.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Shadow Warrior</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1hr : 50mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                                class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">2+</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative ">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/13.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Narnia</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">3hr : 10mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">0</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/14.jpg" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">X-Men</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1hr : 45mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">25+</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide swiper-bg">
                                    <div class="block-images position-relative">
                                       <div class="img-box slider--image">
                                          <img src="images/trending/15.png" class="img-fluid" alt="" loading="lazy">
                                       </div>
                                       <div class="block-description">
                                          <h6 class="iq-title"><a href="show-detail.html">Logan</a></h6>
                                          <div class="movie-time d-flex align-items-center my-2">
                                             <span class="text-white">1hr : 22mins</span>
                                          </div>
                                          <div class="hover-buttons">
                                             <a href="show-detail.html" role="button" class="btn btn-hover">
                                             <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                             Play Now
                                             </a>
                                          </div>
                                       </div>
                                       <div class="block-social-info">
                                          <ul class="list-inline p-0 m-0 music-play-lists">
                                             <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                   <div class="d-flex align-items-center">
                                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                         target="_blank" rel="noopener noreferrer" class="share-ico"
                                                         tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                      <a href="#"
                                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                         class="share-ico iq-copy-link" tabindex="0"><i
                                                         class="ri-links-fill"></i></a>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">0</span>
                                             </li>
                                             <li><span><i class="ri-add-line"></i></span></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-next btn-verticle"><i class="ri-arrow-down-s-line vertical-aerrow"></i></div>
                     </div>
                     <div class="slider-images" data-swiper="slider-images">
                        <div class="swiper-container " data-swiper="slider-images-inner">
                           <div class="swiper-wrapper ">
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/07.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Shadow Warrior</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/08.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Skull Island</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/09.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Ghost Couple</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/10.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Worst Vampire</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/11.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Worst Vampire</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/12.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Worst Vampire</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/13.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Worst Vampire</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/14.jpg" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Shadow Warrior</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="slider--image block-images"><img src="images/trending/15.png" loading="lazy" alt="" /></div>
                                 <div class="description">
                                    <div class="block-description">
                                       <h6 class="iq-title"><a href="show-detail.html">Shadow Warrior</a></h6>
                                       <div class="movie-time d-flex align-items-center my-2">
                                          <span class="text-white">1hr : 50mins</span>
                                       </div>
                                       <div class="hover-buttons">
                                          <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                             class="fa fa-play mr-1" aria-hidden="true"></i>
                                          Play Now
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-button-prev verticle-btn"></div>
                     <div class="swiper-button-next verticle-btn"></div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </section>
      <section class="s-margin">
         <div class="container-fluid">
            <div class="iq-main-header d-flex align-items-center justify-content-between mt-5 mt-lg-0">
               <h4 class="main-title">Movie List</h4>
            </div>
            <ul class=" row list-inline  mb-0 iq-rtl-direction iq_genres-contents">
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative  watchlist-first">
                     <div class="img-box">
                        <img src="images/genre/19.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Action</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative">
                     <div class="img-box">
                        <img src="images/genre/21.jpg" loading="lazy" class="img-fluid" alt="">
                     </div>
                     <div class="block-description d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Adventure</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative">
                     <div class="img-box">
                        <img src="images/genre/20.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Animation</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative">
                     <div class="img-box">
                        <img src="images/genre/22.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description  d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Dram</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative  watchlist-first">
                     <div class="img-box">
                        <img src="images/genre/23.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description  d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Biography</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative">
                     <div class="img-box">
                        <img src="images/genre/25.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description  d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Comedy</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative">
                     <div class="img-box">
                        <img src="images/genre/22.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Dama</a></h6>
                     </div>
               </li>
               <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                  <div class="block-images position-relative">
                     <div class="img-box">
                        <img src="images/genre/24.jpg" class="img-fluid" loading="lazy" alt="">
                     </div>
                     <div class="block-description d-flex justify-content-center flex-column text-center">
                        <h6 class="iq-title"><a href="view-all.html">Dram</a></h6>
                     </div>
               </li>
            </ul>
            <button class="btn btn-hover hide-me" type="button" data-toggle="collapse" data-target="#collapseExample1"
               aria-expanded="false" aria-controls="collapseExample1">
               <span class="genres-btn">LOAD MORE</span>
            </button>
            <div class="collapse" id="collapseExample1">
               <ul class=" row list-inline  mb-0 iq-rtl-direction iq_genres-contents">
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative  watchlist-first">
                        <div class="img-box">
                           <img src="images/genre/22.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Action</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="images/genre/29.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Adventure</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="images/genre/44.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Comedy</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="images/genre/32.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Crime</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative  watchlist-first">
                        <div class="img-box">
                           <img src="images/genre/45.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Drama</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="images/genre/46.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Fantasy</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="images/genre/47.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">History</a></h6>
                        </div>
                  </li>
                  <li class="slide-item col-lg-3 col-md-4 col-sm-6">
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="images/genre/29.jpg" class="img-fluid" loading="lazy" alt="">
                        </div>
                        <div class="block-description d-flex justify-content-center flex-column text-center">
                           <h6 class="iq-title"><a href="view-all.html">Mystery</a></h6>
                        </div>
                  </li>
               </ul>
            </div>
         </div>
      </section>
</div>