@page
@model IndexModel
@{
   ViewData["Title"] = "Movies Page";
}
<div>
   <!-- Hero Image -->
   <div class="iq-breadcrumb-one  iq-bg-over " style="background-image: url(../images/about-us/01.jpg);">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-sm-12">
               <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                  <h2 class="title">List of Movies</h2>
               </nav>
            </div>
         </div>
      </div>
   </div>
   <!-- End of Hero Image -->
   <!-- Catalog Movies -->
   <main id="main" class="site-main watchlist-contens">
      <div class="container-fluid">
         <ul class="iq-movie-card row list-inline mb-0 iq-rtl-direction">
            <li class="slide-item col-lg-3 col-md-4 ">
               <div class="block-images position-relative watchlist-first">
                  <div class="img-box">
                     <img src="../images/tags/09.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                           X-Men </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item col-lg-3 col-md-4">
               <div class="block-images position-relative">
                  <div class="img-box">
                     <img src="../images/tags/10.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                           Narnia </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item  col-lg-3 col-md-4">
               <div class="block-images position-relative">
                  <div class="img-box">
                     <img src="../images/tags/11.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                           Welcome </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item col-lg-3 col-md-4">
               <div class="block-images position-relative watchlist-last">
                  <div class="img-box">
                     <img src="../images/tags/12.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                           Danger World </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item col-lg-3 col-md-4">
               <div class="block-images position-relative watchlist-first">
                  <div class="img-box">
                     <img src="../images/tags/09.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">Twilight </a></h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item col-lg-3 col-md-4">
               <div class="block-images position-relative">
                  <div class="img-box">
                     <img src="../images/tags/10.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">Worst Game </a></h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item  col-lg-3 col-md-4">
               <div class="block-images position-relative">
                  <div class="img-box">
                     <img src="../images/tags/11.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                           Pirates Of The Caribbean </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                              aria-hidden="true"></i>
                           Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                    rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                       class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                    class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item col-lg-3 col-md-4">
               <div class="block-images position-relative watchlist-first">
                  <div class="img-box">
                     <img src="../images/tags/11.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                        Welcome    </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item col-lg-3 col-md-4">
               <div class="block-images position-relative">
                  <div class="img-box">
                     <img src="../images/tags/14.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html">
                        Jumbo Queen     </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="slide-item  col-lg-3 col-md-4">
               <div class="block-images position-relative">
                  <div class="img-box">
                     <img src="../images/tags/11.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="block-description">
                     <h6 class="iq-title"><a href="../tag-details.html"> 
                        Men Tell No Tales  </a>
                     </h6>
                     <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">March 11, 2021</span>
                     </div>
                     <div class="hover-buttons">
                        <a href="../tag-details.html" role="button" class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                        Play Now</a>
                     </div>
                  </div>
                  <div class="block-social-info">
                     <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                           <span><i class="ri-share-fill"></i></span>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                 <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                 <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                 <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <span><i class="ri-heart-fill"></i></span>
                           <span class="count-box">0</span>
                        </li>
                        <li><span><i class="ri-add-line"></i></span></li>
                     </ul>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </main>
   <!-- End of Catalog Movies -->

</div>