@page
@model Project_DotNet_Dojo.Pages.Account.SignupModel
@{
    ViewData["Title"] = "Signup";
}

<!-- MainContent -->
<div class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-7 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control mb-0" id="exampleInputEmail23"
                                                placeholder="Enter Full Name" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Model.Email">E-mail</label>
                                            <input asp-for="Model.Email" type="email" class="form-control mb-0" id="exampleInputEmail35"
                                                placeholder="Enter email" autocomplete="off" required>
                                            <small><span asp-validation-for="Model.Email" class="text-danger"></span></small>
                                        </div>
                                    </div>
                                    @* <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control mb-0" id="exampleInputEmail21"
                                                placeholder="First Name" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="email" class="form-control mb-0" id="exampleInputEmail31"
                                                placeholder="Last Name" autocomplete="off" required>
                                        </div>
                                    </div> *@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Model.Password">Password</label>
                                            <input asp-for="Model.Password" type="password" class="form-control mb-0" id="exampleInputPassword2"
                                                   placeholder="Password" required>
                                            <small><span asp-validation-for="Model.Password" class="text-danger"></span></small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Model.ConfirmPassword">Repeat Password</label>
                                            <input asp-for="Model.ConfirmPassword" type="password" class="form-control mb-0" id="exampleInputPassword3"
                                                   placeholder="Password" required>
                                            <small><span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span></small>
                                        </div>
                                    </div>

                                </div>
                                @* <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="customRadio1" name="customRadio"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Premium-$39 / 3 Months
                                        with a 5 day free trial</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="customRadio2" name="customRadio"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2"> Basic- $19 / 1 Month</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="customRadio3" name="customRadio"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio3">Free-Free</label>
                                </div> *@

                                <button type="submit" class="btn btn-hover my-2">Sign Up</button>

                            </form>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex justify-content-center links">
                            Already have an account? <a href="./Login" class="text-primary ml-2">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rtl-box">
    <button type="button" class="btn btn-light rtl-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
                d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div class="rtl-panel">
        <ul class="modes">
            <li class="dir-btn" data-mode="rtl" data-active="false" data-value="ltr"><a href="#">LTR</a></li>
            <li class="dir-btn" data-mode="rtl" data-active="true" data-value="rtl"><a href="#">RTL</a></li>
        </ul>
    </div>
</div>
<!-- MainContent End-->